.header__nav {
    display: flex;
    flex-direction: row;
    padding: 0 5px;
    .header__logo-container {
        width: 198px;
        height: auto;
        .header__logo-img {
            
        }
    }
    .header__menu {
        display: flex;
        flex-direction: row;
    }
}